@import "./settings";
@import "./mixins";

/*
  Index:
  - General rules
  - Typography
*/

// General rules
html, body {
  background-color: $body-background;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  line-height: $base-line-height;
  overflow-y: hidden;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: $body-font-family;
}

*:focus {
  outline: 0;
}

body {
  font-family: $body-font-family;
  font-weight: $font-weight-normal;
  color: $body-font-color;
  height: 100%;
  font-size: $base-font-size;
}

[hidden] {
  visibility: hidden;
}

p {
  white-space: pre-wrap;
}

svg|title {
  pointer-events: none;
}

a {
  color: $body-font-color;
  text-decoration: none;
}

// Typography

h1 {
  color: $primary-colour;
  font-size: $font-size-h1;
  font-weight: $font-weight-bold;
  line-height: 1.2;
  margin: 0 0 $smaller-margin 0;
  text-transform: uppercase;
}

h2 {
  color: $body-font-color;
  font-size: $font-size-h2;
  font-weight: $font-weight-bold;
  line-height: 1.2;
  margin: 0 0 $smaller-margin 0;
}

p {
  color: $body-font-color;
  font-size: $font-size-p;
  font-weight: $font-weight-normal;
  line-height: 1.4;
  margin: 0;
}

label {
  color: $body-font-color;
  font-family: $body-font-family;
  font-size: $font-size-label;
  font-weight: $font-weight-normal;
  line-height: 1;
  margin: 0;
}

input {
  font-family: $body-font-family;
  font-size: $font-size-p;
  line-height: 1.2;
}

@include large-screen() {
  .app-content {
    margin-left: auto;
    margin-right: auto;
    max-width: $large-content-width;
  }
}

@include normal-screen() {
  .app-content {
    max-width: $medium-content-width;
    margin-left: auto;
    margin-right: auto;
  }
}

@include medium-screen() {
  .app-content {
    margin-left: $medium-margin;
    margin-right: $medium-margin;
  }
}

@include small-screen() {
  .app-content {
    margin-left: $small-margin;
    margin-right: $small-margin;
  }
}