@import "settings";

@mixin rounded($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  border-radius: $radius;
}

@mixin shadowed() {
  -webkit-box-shadow: 0 2px 4px 0px $shadow-color;
  -moz-box-shadow: 0 2px 4px 0px $shadow-color;
  box-shadow: 0 2px 4px 0px $shadow-color;
}

@mixin no-select() {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}

@mixin app-content() {
  max-width: $content-width;
  margin: 0 auto;
}

@mixin smooth-hover() {
  transition: all $transitions-duration ease-out;

  &:hover {
    transition-timing-function: ease-in;
  }
}