@import "../../../assets/scss/settings";

.beer-list-row {
  align-items: center;
  background-color: $white;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  height: 56px;
  margin: $smaller-margin 0;
  padding: 0 $smaller-margin;
  transition: all $transitions-duration ease-out;

  &__name {
    flex: 1 1 0;
  }

  &__abv {
    display: none;
  }

  &:hover {
    background-color: $primary-colour;
    color: $white;
    transition-timing-function: ease-in;
  }

  &:hover &__abv {
    display: block;
  }
}