@import "../../assets/scss/settings";
@import "../../assets/scss/mixins";

.header {
  background-color: $header-background;
  padding: $medium-margin 0;
  width: 100%;

  &__content {
    @include app-content();
    align-items: center;
    display: flex;
    flex-direction: row;

    & > * {
      &:first-child {
        flex: 1 1 auto;
      }
    }

    a {
      @include smooth-hover();
      border: 1px solid $inactive-link-colour;
      color: $inactive-link-colour;
      padding: 5px;

      &:not(:last-of-type) {
        margin-right: $smaller-margin;
      }

      &.active, &:hover {
        border-color: $white;
        color: $white;
      }
    }
  }
}