@import "../../assets/scss/settings";
@import "../../assets/scss/mixins";

.search-bar {
  background-color: $header-background;
  padding: $medium-margin 0;
  width: 100%;

  &__content {
    @include app-content();
    display: flex;
    flex-direction: row;

    &__filter {
      &:not(:last-of-type) {
        margin-right: $smaller-margin;
      }

      &--home, &--food {
        flex: 1.5 1.5 0;
      }
      &--abv-gt, &--abv-lt {
        flex: 1 1 0;
      }
      &--food:not(:last-of-type) {
        margin-right: $medium-margin;
      }
    }
  }
}