@import "../../assets/scss/settings";

.search-filter {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid $inactive-input-colour;
  color: $white;
  padding-bottom: $smaller-margin;
  transition: all $transitions-duration ease-out;
  width: 100%;

  &:focus, &:not([value=""]) {
    border-color: $white;
    transition-timing-function: ease-in;
  }

  &[type=number]::-webkit-inner-spin-button,
  &[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}